table{
	width:auto;
	border-spacing:0px;
	margin-left: 15px;
  border:1px solid #c0c0c0;
}

button
{
  margin-left:15px;
  margin-bottom:5px;
  padding: 15px 15px 15px 15px;
  border-radius:5px;
  border:none;
  color:#fffaff;
  background-color:#4d99d2;
  font-weight:bold;
}

td{
  display:inline-block;
  margin:0px 1px 0px 0px;
  width:16px;
  height: 16px;
}

